<p>This is the show page</p>
<h1>{{ trick.name }}</h1>
<h2>{{ trick.group }}</h2>
<p>{{ trick.description }}</p>
<h2>Displaying pictures here</h2>
<h2>Displaying videos here</h2>

<br />
<h2>Form - Leave your comments here ;)</h2>
<p>
    {% for comment in comments %}
        <ul>
            <li>{{ comment.content }}</li>
        </ul>
    {% endfor %}
</p>

<form action=""></form>
<a href="{{ path('trick_list') }}" class="btn">Return to list</a>